In [176]:
import pandas as pd
import datetime as dt

In [177]:
dfr = pd.read_excel("./data/clock_inout.xlsx")

In [178]:
dfr.head()

,รหัสที่เครื่อง,รหัสพนักงาน,ชื่อ-นามสกุล,แผนก,Date,1,2,3
0,1,NaN,รุ้ง,[Start Department],1/2/2567,8:52,18:18,NaN
1,1,NaN,รุ้ง,[Start Department],2/2/2567,9:00,18:14,NaN
2,1,NaN,รุ้ง,[Start Department],3/2/2567,9:23,17:03,NaN
3,1,NaN,รุ้ง,[Start Department],4/2/2567,NaN,NaN,NaN
4,1,NaN,รุ้ง,[Start Department],5/2/2567,8:46,17:26,NaN

In [179]:
filtNull = dfr[[1, 2, 3]].isnull().all(axis=1)
dfr = dfr[~filtNull]

In [180]:
def parseDate(dateStr):
    sp = dateStr.split("/")
    day = sp[0]
    month = sp[1]
    year = int(sp[2]) - 543
    return pd.to_datetime(f"{year}/{month}/{day}", format="%Y/%m/%d")

dfr["Date"] = dfr["Date"].apply(parseDate)

In [181]:
# Convert to time
dfr[1] = pd.to_datetime(dfr[1], format="%H:%M").dt.time
dfr[2] = pd.to_datetime(dfr[2], format="%H:%M").dt.time
dfr[3] = pd.to_datetime(dfr[3], format="%H:%M").dt.time

In [186]:
dfr.head()

,รหัสที่เครื่อง,รหัสพนักงาน,ชื่อ-นามสกุล,แผนก,Date,1,2,3
0,1,NaN,รุ้ง,[Start Department],2024-02-01,08:52:00,18:18:00,NaT
1,1,NaN,รุ้ง,[Start Department],2024-02-02,09:00:00,18:14:00,NaT
2,1,NaN,รุ้ง,[Start Department],2024-02-03,09:23:00,17:03:00,NaT
4,1,NaN,รุ้ง,[Start Department],2024-02-05,08:46:00,17:26:00,NaT
5,1,NaN,รุ้ง,[Start Department],2024-02-06,08:52:00,17:56:00,NaT

In [189]:
dt.time(hour=7)

datetime.time(7, 0)

In [198]:
# Remove rows with hours outside acceptable range
def checkTimeOutsideRange(sr):
    return (sr < dt.time(hour=6)) | (sr > dt.time(hour=22))

filt1 = checkTimeOutsideRange(dfr[1])  
filt2 = checkTimeOutsideRange(dfr[2])  
filt3 = checkTimeOutsideRange(dfr[3])  

filtOutsideRange = filt1 | filt2 | filt3
dfr[filtOutsideRange]

,รหัสที่เครื่อง,รหัสพนักงาน,ชื่อ-นามสกุล,แผนก,Date,1,2,3
39,2,NaN,แปง,[Start Department],2024-02-11,00:00:00,NaT,NaT
126,5,NaN,5,[Start Department],2024-02-11,00:35:00,NaT,NaT
329,16,NaN,เมือง,[Start Department],2024-02-11,00:00:00,NaT,NaT
416,19,NaN,ไอซ์,[Start Department],2024-02-11,00:39:00,NaT,NaT

In [199]:
dfr = dfr[~filtOutsideRange]

In [183]:
filtOneCheckIn = (~dfr[[1, 2, 3]].isnull()).sum(axis=1) == 1
dfr[filtOneCheckIn]

,รหัสที่เครื่อง,รหัสพนักงาน,ชื่อ-นามสกุล,แผนก,Date,1,2,3
9,1,NaN,รุ้ง,[Start Department],2024-02-10,09:27:00,NaT,NaT
23,1,NaN,รุ้ง,[Start Department],2024-02-24,09:41:00,NaT,NaT
28,1,NaN,รุ้ง,[Start Department],2024-02-29,08:04:00,NaT,NaT
38,2,NaN,แปง,[Start Department],2024-02-10,07:50:00,NaT,NaT
39,2,NaN,แปง,[Start Department],2024-02-11,00:00:00,NaT,NaT
57,2,NaN,แปง,[Start Department],2024-02-29,07:49:00,NaT,NaT
67,3,NaN,พี่หน่อ,[Start Department],2024-02-10,07:46:00,NaT,NaT
86,3,NaN,พี่หน่อ,[Start Department],2024-02-29,07:57:00,NaT,NaT
96,4,NaN,หวาน,[Start Department],2024-02-10,07:47:00,NaT,NaT
115,4,NaN,หวาน,[Start Department],2024-02-29,07:55:00,NaT,NaT
125,5,NaN,5,[Start Department],2024-02-10,07:41:00,NaT,NaT
126,5,NaN,5,[Start Department],2024-02-11,00:35:00,NaT,NaT
139,5,NaN,5,[Start Department],2024-02-24,07:56:00,NaT,NaT
144,5,NaN,5,[Start Department],2024-02-29,07:41:00,NaT,NaT
154,6,NaN,พี่โบ,[Start Department],2024-02-10,07:54:00,NaT,NaT
168,6,NaN,พี่โบ,[Start Department],2024-02-24,07:48:00,NaT,NaT
173,6,NaN,พี่โบ,[Start Department],2024-02-29,07:40:00,NaT,NaT
183,7,NaN,พี่นัย,[Start Department],2024-02-10,07:46:00,NaT,NaT
197,7,NaN,พี่นัย,[Start Department],2024-02-24,07:40:00,NaT,NaT
202,7,NaN,พี่นัย,[Start Department],2024-02-29,07:42:00,NaT,NaT
232,11,NaN,พี่แอม,[Start Department],2024-02-01,17:54:00,NaT,NaT
239,11,NaN,พี่แอม,[Start Department],2024-02-08,08:53:00,NaT,NaT
241,11,NaN,พี่แอม,[Start Department],2024-02-10,09:10:00,NaT,NaT
255,11,NaN,พี่แอม,[Start Department],2024-02-24,08:43:00,NaT,NaT
260,11,NaN,พี่แอม,[Start Department],2024-02-29,08:41:00,NaT,NaT
289,14,NaN,พี่น้อย (ยุง),[Start Department],2024-02-29,07:39:00,NaT,NaT
313,15,NaN,จายลอด,[Start Department],2024-02-24,07:48:00,NaT,NaT
318,15,NaN,จายลอด,[Start Department],2024-02-29,07:50:00,NaT,NaT
328,16,NaN,เมือง,[Start Department],2024-02-10,07:50:00,NaT,NaT
329,16,NaN,เมือง,[Start Department],2024-02-11,00:00:00,NaT,NaT
342,16,NaN,เมือง,[Start Department],2024-02-24,07:47:00,NaT,NaT
347,16,NaN,เมือง,[Start Department],2024-02-29,07:49:00,NaT,NaT
357,17,NaN,พี่หญิง,[Start Department],2024-02-10,07:55:00,NaT,NaT
371,17,NaN,พี่หญิง,[Start Department],2024-02-24,07:50:00,NaT,NaT
376,17,NaN,พี่หญิง,[Start Department],2024-02-29,07:52:00,NaT,NaT
386,18,NaN,พอง,[Start Department],2024-02-10,07:55:00,NaT,NaT
400,18,NaN,พอง,[Start Department],2024-02-24,07:50:00,NaT,NaT
405,18,NaN,พอง,[Start Department],2024-02-29,07:53:00,NaT,NaT
415,19,NaN,ไอซ์,[Start Department],2024-02-10,07:52:00,NaT,NaT
416,19,NaN,ไอซ์,[Start Department],2024-02-11,00:39:00,NaT,NaT
429,19,NaN,ไอซ์,[Start Department],2024-02-24,07:53:00,NaT,NaT
434,19,NaN,ไอซ์,[Start Department],2024-02-29,07:57:00,NaT,NaT

In [184]:
# Parse datetime from string
def parseDateTime(dateStr, timeStr):
    sp = dateStr.split("/")
    day = sp[0]
    month = sp[1]
    year = int(sp[2]) - 543
    return pd.to_datetime(f"{year}/{month}/{day} {timeStr}", format="%Y/%m/%d %H:%M")

def parseDate(dateStr):
    sp = dateStr.split("/")
    day = sp[0]
    month = sp[1]
    year = int(sp[2]) - 543
    return pd.to_datetime(f"{year}/{month}/{day}", format="%Y/%m/%d")

print(parseDateTime("1/2/2567", "8:52"))
print(parseDate("1/2/2567"))

2024-02-01 08:52:00
2024-02-01 00:00:00

In [185]:
def formatRow(row):
    name = row["ชื่อ-นามสกุล"]
    id = row["รหัสที่เครื่อง"]
    dateStr = row["Date"]
    times = row.iloc[5:].dropna()
    times = times.apply(lambda timeStr: parseDateTime(dateStr, timeStr))    
    res = times.agg(["min", "max"])
    res["date"] = parseDate(dateStr)
    res["name"] = name
    res["id"] = id
    return res


dft = dfr.iloc[:, :].apply(formatRow, axis=1)
dft = dft.rename(columns={"min": "in", "max": "out"})

AttributeError: 'Timestamp' object has no attribute 'split'

In [152]:
dft["isInLate"] = dft["in"] > dft["date"] + pd.Timedelta(hours=9)
dft["isOutEarly"] = dft["out"] < dft["date"] + pd.Timedelta(hours=18)
dft.head()

,in,out,date,name,id,isInLate,isOutEarly
0,2024-02-01 08:52:00,2024-02-01 18:18:00,2024-02-01,รุ้ง,1,False,False
1,2024-02-02 09:00:00,2024-02-02 18:14:00,2024-02-02,รุ้ง,1,False,False
2,2024-02-03 09:23:00,2024-02-03 17:03:00,2024-02-03,รุ้ง,1,True,True
4,2024-02-05 08:46:00,2024-02-05 17:26:00,2024-02-05,รุ้ง,1,False,True
5,2024-02-06 08:52:00,2024-02-06 17:56:00,2024-02-06,รุ้ง,1,False,True

In [153]:
dft["inLateMin"] = (dft["in"] - dft["date"] - pd.Timedelta(hours=9)).dt.total_seconds() / 60
dft["outEarlyMin"] = (dft["date"] + pd.Timedelta(hours=18) - dft["out"]).dt.total_seconds() / 60

In [154]:
def makeZeroIfNegative(val):
    if val < 0:
        return 0
    return val

dft["inLateMin"] = dft["inLateMin"].apply(makeZeroIfNegative)
dft["outEarlyMin"] = dft["outEarlyMin"].apply(makeZeroIfNegative)

dft.head()

,in,out,date,name,id,isInLate,isOutEarly,inLateMin,outEarlyMin
0,2024-02-01 08:52:00,2024-02-01 18:18:00,2024-02-01,รุ้ง,1,False,False,0.0,0.0
1,2024-02-02 09:00:00,2024-02-02 18:14:00,2024-02-02,รุ้ง,1,False,False,0.0,0.0
2,2024-02-03 09:23:00,2024-02-03 17:03:00,2024-02-03,รุ้ง,1,True,True,23.0,57.0
4,2024-02-05 08:46:00,2024-02-05 17:26:00,2024-02-05,รุ้ง,1,False,True,0.0,34.0
5,2024-02-06 08:52:00,2024-02-06 17:56:00,2024-02-06,รุ้ง,1,False,True,0.0,4.0

In [155]:
def formatTorDrinkExcelP2(row):
    datas = []
    for i in ["IN", "OUT"]:
        data = {
            "attendance_device_id": row["name"],
            "log_type": i,
            "time": row[i].strftime('%Y/%m/%d %X'),
        }
        datas.append(data)
    return pd.DataFrame.from_records(datas)


temp = dft.iloc[:, :].apply(formatTorDrinkExcelP2, axis=1)
df2 = pd.concat(temp.values).reset_index(drop=True)
df2

KeyError: 'IN'

In [67]:
sr = df2.iloc[0, :].to_dict()

In [68]:
{**df2.iloc[0, :].to_dict()}

{'attendance_device_id': 'รุ้ง',
 'log_type': 'IN',
 'time': '2024/02/01 08:52:00'}